.box{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    left: 0px;
    top: 0px;

}
.box2{

}
media only srcee(max-width: 600px) {
    .box{
        width: 100px;
        height: 100px;
        background-color: red;
        position: absolute;
        left: 0px;
        top: 0px;
    
    }
  }

