.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:500px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1{
    color: #333;
    font-family: Arial, sans-serif;
}
p{
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}