*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.title{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
}
.quiz{
    background-color: #fff;
    color: #222;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;

}

.quiz h2{
    margin: 1rem 0;
    font-size: 1.5rem;
}

.quiz label{
    display: block;
    margin: 1rem 0;
    font-size: 1.2rem;
    ;
}
.quiz label input{
    margin-right: 0.5rem;
    cursor: pointer
}

.buttons{
    display: flex;
    justify-content: center;
}
.buttons button{
    margin: 0 0.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: center;
    background-color:#ccc;
    color: #222;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 500px;
}

.btn button{
    margin: 0 0.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
